@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #374151 #000000;
  }

  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background: #374151;
    border-radius: 4px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #4b5563;
  }
}
